the DateTime module, which essentially allows you to create objects that have information not just on the date or the time, but also things like time zone and operations between date time objects, such as how many seconds have passed or how many days have passed.

In [1]:
import datetime

In [3]:
mytime = datetime.time(2,20) # this is running on a 24 hour clock

If you do not provide certain information, it's just going to automatically fill it in.

In [4]:
mytime.minute

20

In [5]:
print(mytime)

02:20:00

In [7]:
mytime1 = datetime.time(13,23,34,12) # if you don't define microseconds, it won't bother to display them for you

In [8]:
print(mytime1)

13:23:34.000012

In [9]:
type(mytime)

datetime.time

In [10]:
today = datetime.date.today()

In [12]:
print(today)

2022-12-04

the format follows the European kind of standard, which is the year, the month, the date, and in general, most programming languages will follow this sample from the largest time scale years to smaller and smaller months, days, and so on.

In [13]:
today.year

2022

In [14]:
today.month

12

In [15]:
today.day

4

And Python also allows you to return something called C time formatting, which is just another way
of formatting this along with some time information.
So I can say go ahead, grab today, call C time on it and it'll print it out in this format where it will give you the day in three letters, the month, the date itself.

In [16]:
today.ctime()

'Sun Dec  4 00:00:00 2022'

So let's say now you don't just want date information and you also don't want just time information.
You actually want date time information.
So information that combines both of these

In [17]:
from datetime import datetime

In [18]:
mydatetime = datetime(2021,10,3,16,23,32)

In [19]:
print(mydatetime) # we see the information printed out here again, going from the largest time scale to the smallest

2021-10-03 16:23:32

Now, for some reason, you made a mistake or you need to do some sort of replacement.
Like, for instance, actually said 2021 and I need this to all be in 2020.
I can do that with the replace functionality

In [21]:
mydatetime = mydatetime.replace(year=2020)

In [22]:
print(mydatetime) # updated

2020-10-03 16:23:32

something that's really common to perform with date time objects or date objects is just simple
arithmetic.

For example, let's say someone logs in to your website on a certain day and then they log back out
on another day or at a certain date time or they leave at a certain date time.

You probably want to figure out, well, how long they spend on my website or how long do they spend
logged in.

And we can perform simple arithmetic to solve for these.

In [23]:
from datetime import date

In [24]:
date1 = date(2022, 12, 17)
date2 = date(2022, 12, 6)

In [26]:
result = date1 - date2 # it reports back the difference in number of days

In [29]:
print(result)

11 days, 0:00:00

In [28]:
type(result) # it's a special time delta object which has its own properties and attributes

datetime.timedelta

In [33]:
datetime1 = datetime(2022, 12, 17, 23, 32, 12)
datetime2 = datetime(2022, 12, 7, 13, 12, 45)

In [37]:
mydiff = datetime1 - datetime2

In [38]:
print(mydiff)

10 days, 10:19:27

In [39]:
mydiff

datetime.timedelta(days=10, seconds=37167)

In [36]:
37167/60/60 # these many hours apart

10.324166666666667

In [40]:
mydiff.seconds

37167

You'll often find yourself encountering this if you're ever dealing with a database.